<div class="row">
    <div class="col-md-4">
        <a href="{% url 'home_app:home_report' %}" class="card bg-success text-white mb-3">
            <div class="card-body text-center">
                <h4 class="card-title">Income report</h4>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'home_app:supplier_payments' %}" class="card bg-success text-white mb-3">
            <div class="card-body text-center">
                <h4 class="card-title">Supplier payments</h4>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'home_app:home_sales_summary' %}" class="card bg-success text-white mb-3">
            <div class="card-body text-center">
                <h4 class="card-title">Sales summary</h4>
            </div>
        </a>
    </div>
</div>