{% extends "base.html" %}

{% load static %}
{% block title %}{{ mode }}{% endblock %}
{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <h2>Product data</h2>
        <div class="form-row">
            <div class="col-md-6">
                <label for="barcode">Barcode:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-barcode"></i></span>
                    </div>
                    {{ form.barcode }}
                </div>
                {% for error in form.barcode.errors %}
                <p class="text-danger">
                    {{ error|escape }}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <label for="name">Name:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-edit"></i></span>
                    </div>
                    {{ form.name }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="supplier">Supplier:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-truck-moving"></i></span>
                    </div>
                    {{ form.supplier }}
                </div>
            </div>
            <div class="col-md-6">
                <label for="brand">Brand:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-trademark"></i></span>
                    </div>
                    {{ form.brand }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="unit">Unit:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-tag"></i></span>
                    </div>
                    {{ form.unit }}
                </div>
            </div>
            <div class="col-md-6">
                <label for="expiration_date">Expiration date:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-times"></i></span>
                    </div>
                    {{ form.expiration_date }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="cost">Cost:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-money-bill-alt"></i></span>
                    </div>
                    {{ form.cost }}
                </div>
                {% for error in form.cost.errors %}
                <p class="text-danger">
                    {{ error|escape }}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <label for="price">Price:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-money-bill-alt"></i></span>
                    </div>
                    {{ form.price }}
                </div>
                {% for error in form.price.errors %}
                <p class="text-danger">
                    {{ error|escape }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="qty_available">Qty available:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-bars"></i></span>
                    </div>
                    {{ form.qty_available }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md">
                <label for="description">Description:</label>
                {{ form.description }}
            </div>
        </div>
        {% for error in form.errors %}
        <p class="text-danger">
            {{ error|escape }}
        </p>
        {% endfor %}
        <div class="row">
            {% if product %}
            <div class="col-md-6">
                <div class="d-flex justify-content-start my-3">
                    <a href="{% url 'product_app:product_delete' product.id %}" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="far fa-trash-alt"></i>
                        </span>
                        <span class="text">Delete product</span>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="d-flex justify-content-end my-3">
                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Save product</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}