{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- Heading -->
    <div class="mb-4">
        <div class="d-flex justify-content-end">
            <div class="p-1">
                <a href="{% url 'product_app:product_create' %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add new product</span>
                </a>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Barcode</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Cost</th>
                            <th>Stock</th>
                            <th>Sales</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Barcode</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Cost</th>
                            <th>Stock</th>
                            <th>Sales</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for product in product_list %}
                        <tr>
                            <td>{{ product.barcode }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.cost }}</td>
                            <td>{{ product.qty_available }}</td>
                            <td>{{ product.sales }}</td>
                            <td class="text-center">
                                <a href="{% url 'product_app:product_detail' product.id %}" class="btn btn-info btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="{% url 'product_app:product_update' product.id %}"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt	"></i>
                                </a>
                                <a href="{% url 'product_app:product_delete' product.id %}"
                                    class="btn btn-danger btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}