{% extends "base.html" %}

{% load static %}
{% block title %}Sale{% endblock %}
{% block content %}

<div class="container">
    {% for error in form.barcode.errors %}
    <p class="text-danger">
        {{ error|escape }}
    </p>
    {% endfor %}
    {% for error in form.quantity.errors %}
    <p class="text-danger">
        {{ error|escape }}
    </p>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.barcode }}
                    {{ form.quantity }}
                    <button type="submit" class="btn btn-success ml-1 px-5">Add Item</button>
                </div>
            </form>
        </div>
        <form method="post" action="{% url 'sale_app:sale_process' %}" class="col-md-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary px-5"><i class="fas fa-money-bill"></i> Pay</button>
        </form>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-primary px-5"><i class="fas fa-money-check"></i> Latest
                sales</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-7">
            <h4 class="mt-4">Sale</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.barcode }}</th>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <form method="post" action="{% url 'sale_app:sale_update' product.id %}">
                            {% csrf_token %}
                            <td class="text-center">
                                <button type="submit" class="btn btn-info btn-sm">
                                    <i class="fas fa-minus"></i>
                                </button>
                        </form>
                        <form method="post" action="{% url 'sale_app:sale_delete' product.id %}">
                            {% csrf_token %}
                            <td class="text-center">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fas fa-times"></i>
                                </button>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <div class="card bg-info text-white text-center my-3">
                <div class="card-body">
                    {% if total %}
                    <h4 class="card-title">Total</h4>
                    <h4 class="card-text">$ {{ total }}</h4>
                    {% endif %}
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-block px-5 py-3"><i class="fas fa-credit-card"></i> Pay</a>
            <button class="btn btn-success btn-block px-5 py-3" data-toggle="modal" data-target="#chargeModal"><i
                    class="fas fa-print"></i> Charge and print</button>
            <form method="post" action="{% url 'sale_app:sale_delete_all' %}">
                {% csrf_token%}
                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-danger btn-block py-3 px-5">
                        <i class="far fa-trash-alt"></i> Clear all
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chargeModalLabel">Voucher details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'sale_app:sale_voucher' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="col-md 6">
                            <label for="invoice">Invoice type</label>
                            {{ voucher_form.invoice_type }}
                        </div>
                        <div class="col-md 6">
                            <label for="payment">Payment type</label>
                            {{ voucher_form.payment_type }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Charge</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}