{% extends "base.html" %}

{% load static %}
{% block title %}User list{% endblock %}
{% block content %}

<div class="container">
    <h2 class="d-flex justify-content-center mb-4">System users</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Last login</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>jdoe@gmail.com</td>
                <td>John</td>
                <td>Doe</td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>will@yahoo.com</td>
                <td>Will</td>
                <td>Johnson</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>shannon@yahoo.com</td>
                <td>Shannon</td>
                <td>Williams</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href="{% url 'user_app:user_create' %}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-user-plus"></i>
            </span>
            <span class="text">Add user</span>
        </a>
    </div>
</div>
{% endblock %}